plantilla.html
plantilla2.html
MER.mwb
MER.mwb.bak
*.env
.vscode/
*.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.env.*
.build/
dist/
node_modules/
static/
media/
.git
.env
.pytest_cache
.coverage
coverage.xml
htmlcov
notes.txt
staticfiles/
Documento_Reglas_Negocio_API_COMPRAS.docx
doc/